@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
  --primary: #2563EB;
  --highlight: #9333EA;
}

.dark {
  --background: #1F2937;
  --foreground: #F9FAFB;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

html {
  transition: background-color 0.3s, color 0.3s;
}